<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Coordinate!!</title>
     <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
  </head>
 
  <body>
 
    <div class="container">
 
      <div class="jumbotron">
        <h1>Pick Start and End Date</h1>
        <form class="form-signin" action="/redirect_to_authorize" method="post">
        <label for="startDate" class="sr-only">Name</label>
        <input type="date" name="startDate" id="startDate" class="form-control" placeholder="Date" required autofocus>
        <label for="endDate" class="sr-only">Name</label>
        <input type="date" name="endDate" id="endDate" class="form-control" placeholder="Date" required autofocus>
        <label for="email1" class="sr-only">Email address</label>
        <input type="email" name="email1" id="email1" class="form-control" placeholder="Email address" required autofocus>
        <label for="email2" class="sr-only">Email address</label>
        <input type="email" name="email2" id="email2" class="form-control" placeholder="Email address" required autofocus>
        <label for="email3" class="sr-only">Email address</label>
        <input type="email" name="email3" id="email3" class="form-control" placeholder="Email address" required autofocus>
         
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Send emails</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
  </body>
  <script src="../static/js/jquery-2.1.4.js"></script>
  <script src="../static/js/signUp.js"></script>
</html>
